<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="base"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<div layout:fragment="content">
    <div class="d-flex justify-content-between mb-4 w-100">
        <form action="/apartments/get" method="get">
            <div class="input-group">
                <label>
                    <input type="text" name="searchTerm" class="form-control" placeholder="Search...">
                </label>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/apartments/create" class="btn btn-secondary">Add New</a>
    </div>
    <div class="row">
        <div th:each="apartment : ${apartments}"
             th:classappend="${#lists.size(apartments) == 1} ? '' : 'col-md-4 mb-4 w-25'">
            <div class="card h-100">
                <img th:src="@{${apartment.pictureUrl}}" class="card-img-top" alt="Picture"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${apartment.location}"></h5>
                    <p class="card-text">
                        <strong>Price:</strong> <span th:text="${apartment.price}"></span><br>
                        <strong>Size:</strong> <span th:text="${apartment.size}"></span><br>
                        <strong>Rooms:</strong> <span th:text="${apartment.rooms}"></span><br>
                        <strong>Quantity:</strong> <span th:text="${apartment.quantity}"></span><br>
                        <strong>Category:</strong> <span th:text="${apartment.category.name}"></span>
                    </p>
                    <div class="d-flex justify-content-end">
                        <a th:href="@{/apartments/update(apartmentId=${apartment.id})}" class="btn btn-outline-primary me-1" sec:authorize="hasRole('ROLE_ADMIN')">Update</a>
                        <form th:action="@{/apartments/delete}" method="post" sec:authorize="hasRole('ROLE_ADMIN')" class="mr-2">
                            <input type="hidden" name="apartmentId" th:value="${apartment.id}" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>